th {
    text-align: center;
}

td {
    align-self: center;
}

.active {
}

.includeCB {
    align-self: center;
}

.noObs {
    color: rgb(200, 200, 200);
    text-align: center;
}

.birdObs {text-align: center;}

.lowObs {text-align: center;}

.highObs {text-align: center;}

.inactive {
    color: rgb(200, 200, 200);
}

.spName {
    font-weight: bold;
}

.table {
    margin: 20px;
}
