th {
    text-align: center;
}

td {
    align-self: center;
    text-align: center;
}

.active {
}

.includeCB {
    align-self: center;
    text-align: center;
    vertical-align: middle;
}

.noObs {
    color: rgb(100, 100, 100);
    text-align: center;
}

.birdObs {text-align: center;}

.lowObs {text-align: center;}

.highObs {text-align: center;}

.inactive {
    color: rgb(200, 200, 200);
}

.spName {
    font-weight: bold;
    text-align: left;
}

.table-sortable {
}

.sp-index{
    display: none;
    /*visibility: hidden;*/
}