{% extends "base.html" %}

{% block content %}
    <form method="GET" id="trip_creation_form"></form>

    <button type="submit" form="trip_creation_form">Generate Route</button>
    <table>
        <caption>Hotspot Summary</caption>
        <thead>
            <tr>
                <th>Species</th>
                {% for hotspot in hotspots %}
                    <th>{{ hotspot }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Include</td>
                {% for hotspot in hotspots %}
                    <td><input type="checkbox" name={{ hotspot }} id="" form="trip_creation_form"></td>
                {% endfor %}
            </tr>
            {% for species in birds %}
                <tr>
                    <td>{{ species }}</td>
                    {% for hotspot in hotspots %}
                        <td>{{ birds[species][hotspot] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}