{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='analysisstyle.css') }}">
    <script src=""></script>
{% endblock %}

{% block content %}
    <form method="GET" id="trip_creation_form"></form>

    <button type="submit" form="trip_creation_form">Generate Route</button>
    <table class="table table-striped table-hover table-bordered table-sm">
        <thead>
            <tr>
                <th>Species</th>
                {% for hotspot in hotspots %}
                    <th>{{ hotspot }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for species in birds %}
                <tr>
                    <td class="spName">{{ species }}</td>
                    {% for hotspot in hotspots %}
                        {% if birds[species][hotspot] == "-" %}
                            <td class="noObs">{{ birds[species][hotspot] }}</td>
                        {% elif birds[species][hotspot] == "<1%" %}
                            <td class="lowObs">{{ birds[species][hotspot] }}</td>
                        {% elif birds[species][hotspot] == ">99%" %}
                            <td class="highObs">{{ birds[species][hotspot] }}</td>
                        {% else %}
                            <td class="birdObs">{{ birds[species][hotspot] }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}