{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='analysisstyle.css') }}">
<script src="{{ url_for('static', filename='analysisscript.js') }}"></script>
{% endblock %}

{% block nav %}
<a href="{{ url_for('user_page', username=user.username) }}">Back to my trips</a>
{% endblock %}

{% block content %}
<form method="GET" id="trip_creation_form"></form>

<button type="submit" form="trip_creation_form">Rebuild</button>
<table class="table table-striped table-hover table-bordered table-sm">
    <thead>
        <tr>
            <th>Species</th>
            {% for hotspot in trip.hotspot_names %}
                <th>{{ hotspot }}</th>
            {% endfor %}
            <th>Cumulative</th>
        </tr>
        <tr id="includeRow">
            <td></td>
            {% for hs_id in trip.hotspot_ids %}
            <td><input form="trip_creation_form" type="checkbox" name="{{ hs_id }}" id=""
                    class="includeCB" onclick="toggleActive()" checked></td>
            {% endfor %}
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for species in trip.sp_list %}
        <tr class="spRow {{ ''.join(species.split()) }}" }}>
            <td class="spName">{{ species }}</td>
            {% for hotspot in trip.observations %}
                {% if trip.report_obs(hotspot, species) == "-" %}
                    <td class="noObs active {{ ''.join(hotspot.split()) }}">{{ trip.report_obs(hotspot, species) }}</td>
                {% elif trip.report_obs(hotspot, species) == "<1%" %} 
                    <td class="lowObs active {{ ''.join(hotspot.split()) }}">{{ trip.report_obs(hotspot, species) }}</td>
                {% elif trip.report_obs(hotspot, species) == ">99%" %}
                    <td class="highObs active {{ ''.join(hotspot.split()) }}">{{ trip.report_obs(hotspot, species) }}</td>
                {% else %}
                    <td class="birdObs active {{ ''.join(hotspot.split()) }}">{{ trip.report_obs(hotspot, species) }}</td>
                {% endif %}
            {% endfor %}
            <td>{{ trip.report_dict(trip.build_cumulative_obs_dict())[species] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}