{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mapstyle.css') }}">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
{% endblock %}

{% block content %}
    <div id="radiusrange">
        <label for="customRange3" class="form-label">Radius</label>
        <input type="range" class="form-range" min="5" max="50" step="5" id="customRange3">
    </div>
    <div id="mapid"></div>
    <script src="{{ url_for('static', filename='mapscript.js') }}"></script>
{% endblock %}