{% extends "base.html" %}

{% block head %}
    {# <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='analysisstyle.css') }}"> #}
    {# <script src="{{ url_for('static', filename='analysisscript.js') }}"></script> #}
{% endblock %}

{% block nav %}
    <a href="{{ url_for('index') }}">Back to Analysis</a>
    <a href="/specialties">See Specialties</a>
{% endblock %}

{% block content %}
    <div>
        <table id="sp-table" class="table table-striped table-hover table-bordered table-sm">
            <thead>
                <tr>
                    <th>Species</th>
                    {% for hotspot in trip.build_trip_dict() %}
                        <th class = header-hotspot>{{ hotspot }}</th>
                    {% endfor %}
                    <th>Cumulative</th>
                </tr>
                <tr>
                    <td></td>
                    {% for hotspot in trip_dict %}
                        <td></td>
                    {% endfor %}
                </tr>
            </thead>
            {% for bird in  trip.build_trip_sp_list() %}
                <tr>
                    <td>{{ bird }}</td>
                    {% for hotspot in trip.build_trip_dict() %}
                        {#! There's gotta be a way to use some variables in here, right?#}
                        <td>{{ trip.build_trip_dict()[hotspot][bird] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}